body {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  width: 600px;
  text-align: center;
  margin-left: 23%;
  margin-right: 20%;
}

.font {
  font-family: "Fantasy", "Chalkduster", monospace;
  color: #ffffff;
}

.styled-table {
  border-collapse: collapse;
  min-width: 400px;
  box-shadow: 0 0 20px #ffffff;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.theaddata {
  background-color: #FF5D3F;
  color: #ffffff;
}

.button {
  color: black;
  font-family: "Fantasy", "Chalkduster", monospace;
}

body {
  height: 100vh;
  background-color: red;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(red, black);
}

#grad1 {
  height: 100vh;
  width: 100vw;
  background-color: red;
<<<<<<< Updated upstream
  /*For browsers that do not support gradients*/
  background-image: linear-gradient(red, black);
=======
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red, black);
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , black);
>>>>>>> Stashed changes
}


#br {
  display: block;
  margin: 10px 0;
}

<<<<<<< Updated upstream
.column {
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}
.left{
  float: left;
  margin-left: 0%;
}
.right{
  float: right;
  margin-right: 0%;
}

=======
>>>>>>> Stashed changes
.hover {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: -50%;
  opacity: 0;
  transition: .5s ease;
  background-color: red;
}

.container {
  position: relative;
  width: 100%;
}

.container:hover .hover {
  opacity: 1;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
