body {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  width: 600px;
  text-align: center;
  margin-left: 8%;
  background-color: gray;
  margin-right: 15%;
}

th {
  width: 600px;
  text-align: center;
  margin-left: 8%;
  background-color: red;
  margin-right: 15%;
}

tr:hover {
  background-color: black;
}

.font {
  font-family: "Fantasy", "Chalkduster", monospace;
  color: #ffffff;
  text-shadow: 3px 2px black;
}

.styled-table {
  border-collapse: collapse;
  min-width: 400px;
  box-shadow: 0 0 20px #ffffff;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.theaddata {
  background-color: #FF5D3F;
  color: #ffffff;
}

.button {
  color: black;
  font-family: "Fantasy", "Chalkduster", monospace;
}

body {
  height: 100vh;
  background-color: red;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(red, black);
}

#grad1 {
  height: 100vh;
  width: 100vw;
  background-color: red;
  /*For browsers that do not support gradients*/
  background-image: linear-gradient(red, black);
}


#br {
  display: block;
  margin: 10px 0;
}

.column {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
  margin-left: 0%;
}

.right {
  float: right;
  margin-right: 0%;
}

.hover {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: -50%;
  opacity: 0;
  transition: .5s ease;
  background-color: red;
}

.container {
  position: relative;
  width: 100%;
}

.container:hover .hover {
  opacity: 1;
}

.margin {
  margin-left: 200px;
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 21%,
    darkred 29%,
    white 67%,
    #EACA27 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-family: "Fantasy", "Chalkduster", monospace;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}